<div ng-controller="QuickRoomController">
    <ons-navigator var="quickRoomNavigator">
        <ons-page>
            <ons-row class="upper-bar">
                <ons-col size="20%">
                    <div class="app-icon"></div>
                </ons-col>
                <ons-col size="60%">
                    <div class="select-city" ng-click="changeLocation()">
                        <div class="select-city-text">{{selectedLocation.Name}}</div>
                        <ons-icon class="select-city-icon" icon="ion-arrow-down-b"></ons-icon>
                    </div>
                </ons-col>

                <ons-col align="right">
                    <ons-icon class="icon-person" ng-click="logoutClick()"></ons-icon>
                </ons-col>

            </ons-row>
            <div ng-class="ng-hide" g-show="state == 'registering'">
                <section class="section-search-room-banner">
                    Search a room now
                </section>

                <section class="check-lifesize">
                    <label class="checkbox">
                        <input type="checkbox" ng-checked="lifesize == true" ng-click="updateLifesize(lifesize)">
                        <div class="checkbox__checkmark" ></div>
                        <span class="ons-checkbox-inner">With Lifesize</span>
                    </label>
                </section>
                <section  style="padding: 8px; margin-top: 20px;"> 
                    <ons-row>
                        <ons-col align="right">
                            <ons-icon icon="ion-minus-round" ng-click="removeMinutes()"></ons-icon>
                        </ons-col>
                        <ons-col style="font-size: 30px">
                            {{time}} min.
                        </ons-col>
                        <ons-col align="left">
                            <ons-icon icon="ion-plus-round"  ng-click="addMinutes()"></ons-icon>
                        </ons-col>
                    </ons-row>

                </section>
                <section style="padding: 0 8px 8px ;margin-top: 20px ">
                    <ons-button modifier="outline" style="width: 100%; " ng-click="bookRoom()">Book any available</ons-button>
                </section>

                <section ng-class="ng-hide" style="padding: 10px" ng-show="$parent.room != ''">
                    The nearest room is {{$parent.room}}
                </section>
            </div>
            <div  ng-class="ng-hide" style="text-align: center" ng-show="state == 'booked'">
                <ons-icon icon="ion-ios-checkmark-outline" style="font-size: 130px; color:green; margin-top: 50px;"></ons-icon>
                <div style="font-size: 30px;">{{bookedRoom.Room.Name}}</div>
                <div style="font-size: 14px;">You have this room until <b>{{bookedTimeEnd}}</b></div>
                <section style=" margin-top: 60px;">
                    <ons-button modifier="outline" style="width: 90%;" ng-click="freeRoom()">Free this room</ons-button>
                    <ons-button modifier="outline" style="width: 90%; margin-top: 30px;" ng-click="updateMeeting()">Add 15 minutes</ons-button>
                </section>
            </div>
            <div ng-class="ng-hide" style="text-align: center" ng-show="state == 'notBooked'">
                <ons-icon icon="ion-ios-close-outline" style="font-size: 130px; color:red; margin-top: 100px;"></ons-icon>
                <div style="text-align: center;background: white; color:black;">
                    <p>  No room available now</p>
                    <p>The next room available is:</p>
                    <p>{{nextRoom}}</p>
                    <p>at {{nextRoomTime}}</p>
                    <p>Do you want to book it?</p>
                    <ons-button modifier="outline" style="width: 45%" ng-click="dontBook()">No</ons-button>
                    <ons-button style="width: 45%" ng-click="pleaseBook()">Yes</ons-button>
                </div>
            </div>
    </ons-page>
    </ons-navigator>
    <ons-modal var="locationModal" ng-controller="LocationController">
        <div class="center" style="background: white; color:black">Select Location</div>
        <ons-list>
            <ons-list-item ng-repeat="location in locations" modifier="tappable" ng-click="selectLocation(location)">{{location.Name}}</ons-list-item>
        </ons-list>
    </ons-modal>
    <ons-modal var="loadingmodal">
        <ons-icon icon="spinner" size="40px" spin="true" fixed-width="true" class="ons-icon fa fa-spinner" style="font-size: 40px;"></ons-icon>
    </ons-modal>
    <ons-modal var="logoutModal" ng-controller="LogoutController" ng-click="logoutModal.hide()">
        <div style="background: white">
            <ons-button modifier="large--quiet" ng-click="logout()">Logout</ons-button>
        </div>
    </ons-modal>
</div>



